.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.1s ease-in-out;
}
.text {
  margin: 40px 30px;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  color: #828282;
  list-style-type: none;
  border-bottom: 1px solid darkgray;
  padding-bottom: 10px;
}
.authorText {
  margin: 40px 20px;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #828282;
  border-bottom: 1px solid darkgray;
  padding-bottom: 10px;
}
.authorText:hover {
  color: #f59115;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.header {
  font-family: "Josefin Sans";
  color: #f59115;
  margin: 20px 20px;
}
.text:hover {
  color: #f59115;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
