.imgSlider {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 0.5;
}
.container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding-bottom: 50px;
  margin: 0px 20px;
  border-bottom: 2px solid #f59115;
}

.sliderContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  color: #f59115;
}
.text {
  font-family: "Josefin Sans";
  font-weight: 600;
  color: #dbd8d6;
}

@media (max-width: 958px) {
  .imgSlider {
    height: 240px;
    width: 240px;
  }
}
@media (max-width: 558px) {
  .imgSlider {
    height: 140px;
    width: 140px;
  }
}
