.authorSection {
  margin: 40px 0px 40px 0px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardContainer:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.1s ease-in-out;
}
.linkText:hover {
  color: #f59115;
  transition: all 0.1ms ease-in-out;
}
